<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons>
        <ion-icon [routerLink]="'/home'" name="home" style="padding: 3%; font-size: 25px;"></ion-icon>
          <ion-title> 
              <ion-button id="title-btn" expand="block" shape="round" color="tertiary" size="large" > 
                myPokedex v{{appVersion}}
              </ion-button>
          </ion-title>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <div class="stats">
      <ion-card-title class="center">
          <ion-text class="ion-text-capitalize little-margin">Base Stats</ion-text>
      </ion-card-title>
      <ion-grid class="grid-stats">
          <ion-row class="special-grid-row grid-rows-stats">
              <ion-col>TYPE</ion-col>
              <ion-col>POINTS</ion-col>
          </ion-row>
          <ion-row *ngFor="let stat of stats">
              <ion-item-divider class="grid-rows-stats">
                  <ion-col>{{ stat.name | uppercase }}</ion-col>
                  <ion-col>{{ stat.base_stat }}</ion-col>
              </ion-item-divider>
          </ion-row>
          <ion-row class="grid-rows-stats">
              <ion-col>TOTAL</ion-col>
              <ion-col>{{ totStats }}</ion-col>
          </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>
