<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="fs-title inline-flex"> 
      myPokedex v{{appVersion}}
    </ion-title>
    <ion-img class="w2 ml-0_5 float-left" src="../../assets/img/animation_pokeball.gif"></ion-img>
    <ion-icon [routerLink]="'/home'" name="home" class="mr-0_6 fs-title float-right"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="grid center">

  <div class="mt-1 m1">
    <!-- Weaknesses & Resistances -->
    <ion-card-title>
        <ion-text class="fs-title">Weaknesses & Resistances</ion-text>
    </ion-card-title>
    <ion-grid class="grid-borders mt-1 grid center">
        <ion-row>
            <ion-col>WEAK TO</ion-col>
        </ion-row>
        <ion-row *ngFor="let weaknesses of dm_rel.double_damage_from">
            <ion-item-divider>
                <ion-img [alt]="weaknesses.name" [src]="'../../assets/img/types/'+weaknesses.name+'.png'" class="max-typeimg-size"></ion-img>
            </ion-item-divider>
        </ion-row>
    </ion-grid>
    <ion-grid class="grid-borders mt-1 grid center">
        <ion-row>
            <ion-col>RESISTENT TO</ion-col>
        </ion-row>
        <ion-row *ngFor="let resistances of dm_rel.half_damage_from">
            <ion-item-divider>
              <ion-img [alt]="resistances.name" [src]="'../../assets/img/types/'+resistances.name+'.png'" class="max-typeimg-size"></ion-img>
            </ion-item-divider>
        </ion-row>
    </ion-grid>
    <ion-grid class="grid-borders mt-1 grid center" *ngIf="dm_rel.no_damage_from.length !== 0">
        <ion-row>
            <ion-col>IMMUNITY TO</ion-col>
        </ion-row>
        <ion-row *ngFor="let immunities of dm_rel.no_damage_from">
            <ion-item-divider>
              <ion-img [alt]="immunities.name" [src]="'../../assets/img/types/'+immunities.name+'.png'" class="max-typeimg-size"></ion-img>
            </ion-item-divider>
        </ion-row>
    </ion-grid>
  </div>
  
</ion-content>
