<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-button size="large" shape="round" fill="solid" color="tertiary"
      (click)="refreshPage()"> 
        Pokemon by Gen
      </ion-button>

      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" 
      placeholder="Kanto" (ionChange)="loadGen($event)" toggleIcon="add">
        <ion-select-option *ngFor="let r of regions" [value]="r">
          {{ r.region | uppercase }}
        </ion-select-option>
      </ion-select>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- SKELETON FX -->
  <ion-list *ngIf="skeletonLoad">
    <ion-item *ngFor="let i of skeletonArray">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h2>
          <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- POKE LIST -->
  <ion-list *ngIf="!skeletonLoad">
    <ion-item *ngFor="let pokemon of pokemons" 
    [routerLink]="'/details/'+pokemon.index.toString()">
      <ion-avatar>
        <img [src]="pokemon.image" style="background: #f2f2f2;">
      </ion-avatar>
      <ion-label class="ion-text-capitalize">
        <h2>{{ pokemon.name }}</h2>
        <p>#{{ pokemon.index }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
