ion-avatar {
    width: 10%;
    height: fit-content;
    margin-right: 2%;
}

ion-label {
    font-size: large;
}

ion-select {
    position: fixed;
    left: 75%;
    padding-left: 5%;
    font-weight: bold;
    color: black;
    background: #f4f5f8;
    border-radius: 10px;
}