<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-item>
      <ion-icon [routerLink]="'/home'" name="home" class="home-icon"></ion-icon>
      <ion-title class="header-title"> 
        myPokedex v{{appVersion}}
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- list-types -->
  <div class="list-types">

    <ion-card-title class="center">
        <ion-text class="ion-text-capitalize little-margin types-title"> LIST OF TYPES </ion-text>
    </ion-card-title>

    <ion-grid [fixed]="true">
      <ion-row *ngFor="let type of types" class="types-rows">
          <ion-col [routerLink]="'/type/'+type.id">
            <ion-img [alt]="type.name" [src]="type.img" class="detail-img"></ion-img>
          </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
