<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-item>
      
      <ion-icon [routerLink]="'/home'" name="home" style="font-size: 60px;"></ion-icon>
      <ion-title class="header-title"> 
          myPokedex v{{appVersion}}
      </ion-title>

<!--       <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select>
          @for (food of foods; track food) {
            <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field> -->

      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" 
      placeholder="NORMAL" (ionChange)="loadPokeByType()" toggleIcon="add" class="top-select" #type_select>
        <ion-select-option *ngFor="let t of types.results" [value]="t">
          {{t.name}}
        </ion-select-option>
      </ion-select>

    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- SKELETON FX -->
  <ion-list *ngIf="skeletonLoad">
    <div class="poke-item" *ngFor="let i of skeletonArray">
      <div class="poke-avatar">
        <ion-avatar class="poke-img">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
      </div>
      <ion-label class="skeleton-label">
        <p class="poke-name">
          <ion-skeleton-text animated></ion-skeleton-text>
        </p>
        <p class="poke-index">
          <ion-skeleton-text animated></ion-skeleton-text>
        </p>
      </ion-label>
    </div>
  </ion-list>

  <!-- POKE LIST -->
  <ion-list *ngIf="!skeletonLoad">
    <div class="poke-item" *ngFor="let pokemon of pokemons" 
    [routerLink]="'/tabs/details/'+pokemon.index.toString()">
      <div class="poke-avatar">
        <ion-avatar class="poke-img">
          <img [src]="pokemon.image">
        </ion-avatar>
      </div>
      <ion-label class="ion-text-capitalize">
        <p class="poke-name">{{ pokemon.name }}</p>
        <p class="poke-index">#{{ pokemon.index }}</p>
      </ion-label>
    </div>
  </ion-list>

</ion-content>
