<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-item>
      <ion-icon [routerLink]="'/home'" name="home" class="home-icon"></ion-icon>
      <ion-title class="header-title"> 
          myPokedex v{{appVersion}}
      </ion-title>
      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" 
      placeholder="NORMAL" (ionChange)="loadPokeByType()" toggleIcon="add" class="top-select" #type_select>
        <ion-select-option *ngFor="let t of types.results" [value]="t">
          {{t.name | uppercase}}
        </ion-select-option>
      </ion-select>

    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="by-type-content">

  <!-- SKELETON FX -->
  <ion-list *ngIf="skeletonLoad">
    <div class="poke-item" *ngFor="let i of skeletonArray">
      <div>
        <ion-avatar>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
      </div>
      <ion-label class="skeleton-label">
        <p style="font-size: large; padding-left: 10%;">
          <ion-skeleton-text animated></ion-skeleton-text>
        </p>
        <p style="padding-left: 10%;">
          <ion-skeleton-text animated></ion-skeleton-text>
        </p>
      </ion-label>
    </div>
  </ion-list>

  <!-- POKE LIST -->
  <ion-list *ngIf="!skeletonLoad">
    <div class="poke-item" *ngFor="let pokemon of pokemons" 
    [routerLink]="'/tabs/details/'+pokemon.index.toString()">
      <ion-img [src]="pokemon.image"></ion-img>
      <ion-label class="ion-text-capitalize" style="display: flex; justify-content: center;">
        <p style="font-size: large; padding-left: 10%;">{{ pokemon.name }}</p>
        <p style="padding-left: 10%;">#{{ pokemon.index }}</p>
      </ion-label>
    </div>
  </ion-list>

</ion-content>
