<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-button size="large" shape="round" fill="solid" color="tertiary"
      (click)="refreshPage()"> 
        All Pokemon
      </ion-button>
      <ion-searchbar animated="true" placeholder="Search Pokemon" [debounce]="1000" 
        [(ngModel)]="searchText"
        (ionInput)="isSearching()">
      </ion-searchbar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-template *ngIf="searchingPokemon; then searchPokemon else noSearch"></ng-template>

  <ng-template #searchPokemon>
    <ion-list>
      <ion-item *ngFor="let pokemon of allPokemons | appFilter: searchText" 
      [routerLink]="'/details/'+pokemon.index.toString()">
        <ion-avatar>
          <img [src]="pokemon.image" style="background: #f2f2f2;">
        </ion-avatar>
        <ion-label class="ion-text-capitalize">
          <h2>{{ pokemon.name }}</h2>
          <p>#{{ pokemon.index }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>

  <ng-template #noSearch>
    <ion-list>
      <ion-item *ngFor="let pokemon of allPokemons" 
      [routerLink]="'/details/'+pokemon.index.toString()">
        <ion-avatar>
          <img [src]="pokemon.image" style="background: #f2f2f2;">
        </ion-avatar>
        <ion-label class="ion-text-capitalize">
          <h2>{{ pokemon.name }}</h2>
          <p>#{{ pokemon.index }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>

</ion-content>
