<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-item>
      <ion-icon [routerLink]="'/home'" name="home" style="padding: 2%; font-size: 25px;"></ion-icon>
      <ion-searchbar animated="true" placeholder="Search Pokemon" [debounce]="1000" 
        [(ngModel)]="searchText"
        (ionInput)="isSearching()">
      </ion-searchbar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- SKELETON FX -->
  <ion-list *ngIf="skeletonLoad">
    <div class="poke-item" *ngFor="let i of skeletonArray">
      <div class="poke-avatar">
        <ion-avatar class="poke-img">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
      </div>
      <ion-label class="skeleton-label">
        <p class="poke-name">
          <ion-skeleton-text animated></ion-skeleton-text>
        </p>
        <p class="poke-index">
          <ion-skeleton-text animated></ion-skeleton-text>
        </p>
      </ion-label>
    </div>
  </ion-list>

  <ng-template *ngIf="searchingPokemon; then searchPokemon else noSearch"></ng-template>

  <ng-template #searchPokemon>
    <!-- POKE LIST (u are searching pokemon) -->
    <ion-list *ngIf="!skeletonLoad">
      <div class="poke-item" *ngFor="let pokemon of allPokemons | appFilter: searchText" 
      [routerLink]="'/tabs/details/'+pokemon.index.toString()">
        <div class="poke-avatar">
          <ion-avatar class="poke-img">
            <img [src]="pokemon.image">
          </ion-avatar>
        </div>
        <ion-label class="ion-text-capitalize">
          <p class="poke-name">{{ pokemon.name }}</p>
          <p class="poke-index">#{{ pokemon.index }}</p>
        </ion-label>
      </div>
    </ion-list>
  </ng-template>

  <ng-template #noSearch>
    <!-- POKE LIST (no searching) -->
    <ion-list *ngIf="!skeletonLoad">
      <div class="poke-item" *ngFor="let pokemon of allPokemons" 
      [routerLink]="'/tabs/details/'+pokemon.index.toString()">
        <div class="poke-avatar">
          <ion-avatar class="poke-img">
            <img [src]="pokemon.image">
          </ion-avatar>
        </div>
        <ion-label class="ion-text-capitalize">
          <p class="poke-name">{{ pokemon.name }}</p>
          <p class="poke-index">#{{ pokemon.index }}</p>
        </ion-label>
      </div>
    </ion-list>
  </ng-template>

</ion-content>
