<ion-header>
  <ion-toolbar color="primary">
    <ion-title> 
      <ion-button expand="block" shape="round" color="tertiary" size="large" (click)="refreshPage()"> 
        myPokedex v{{appVersion}}
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #container>

  <ion-toggle [(ngModel)]="themeToggle" (ionChange)="toggleChange($event)" 
  justify="space-between" class="toggle-dark-mode">
    Dark Mode
  </ion-toggle>
  <audio controls src="../../assets/pokémon_music_mix.mp3" [volume]="volume" [loop]="true" class="audio-home" #pokeMusic>
    <a href="../../assets/pokémon_music_mix.mp3"> Poke Music </a>
  </audio>

  <ion-card #card>
    <ion-card-content class="search-pokemon-by">SEARCH POKEMON BY </ion-card-content>
  </ion-card>

  <ion-list class="list-search">
    <ion-item [routerLink]="'/by-gen'" class="home-page-item" #generationItem>
      GENERATION
    </ion-item>
    <ion-item [routerLink]="'/by-type'" class="home-page-item" #typeItem>
      TYPE
    </ion-item>
    <ion-item [routerLink]="'/by-all'" class="home-page-item" #allItem>
      ALL
    </ion-item>
  </ion-list>

</ion-content>
