<ion-header>
  <ion-toolbar color="primary">
    <ion-title> 
      <ion-button expand="block" shape="round" color="tertiary" size="large" (click)="refreshPage()"> 
        myPokedex v{{appVersion}}
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #container>

  <ion-list>
    <audio controls src="../../assets/pokémon_music_mix.mp3" [volume]="0.5" [loop]="true" [autoplay]="true">
      <a href="../../assets/pokémon_music_mix.mp3"> Poke Music </a>
    </audio>
    <ion-list-header>
      <h1>SEARCH POKEMON BY: </h1>
    </ion-list-header>
    <ion-item [routerLink]="'/by-gen'">
      <ion-button shape="round" expand="block" size="large" class="opt-buttons">
        GENERATION
      </ion-button>
    </ion-item>
    <ion-item [routerLink]="'/by-type'">
      <ion-button shape="round" expand="block" size="large" class="opt-buttons">
        TYPE
      </ion-button>
    </ion-item>
    <ion-item [routerLink]="'/by-all'">
      <ion-button shape="round" expand="block" size="large" class="opt-buttons">
        ALL
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
