<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons>
            <ion-icon [routerLink]="'/home'" name="home" style="padding: 3%; font-size: 25px;"></ion-icon>
<!--             <ion-icon [routerLink]="'..'" name="arrow-back" style="padding: 3%; font-size: 30px;"></ion-icon> -->
            <ion-title> 
                <ion-button id="title-btn" expand="block" shape="round" color="tertiary" size="large" 
                (click)="refreshPage()"> 
                  myPokedex v{{appVersion}}
                </ion-button>
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="content">
        <ion-card>
            <div class="card-header">
                <ion-img [alt]="details.name" [src]="details.homeSprite" 
                class="detail-img"></ion-img>
                <ion-title class="ion-text-capitalize poke-title">{{ details.name }}</ion-title>
                <ion-card-title>
                    <ion-text class="ion-text-capitalize">Type: </ion-text>
                    <ion-text *ngFor="let type of details.types;" class="ion-text-uppercase">
                        {{ type }}
                    </ion-text>
                </ion-card-title>
                <ion-card-title>
                    <ion-text class="ion-text-capitalize">Gen: {{details.gen.id}}</ion-text>
                </ion-card-title>
                <ion-card-title>
                    <ion-text class="ion-text-capitalize">Region: {{details.gen.region}}</ion-text>
                </ion-card-title>
            </div>

            <div class="evo" *ngIf="details.evoName !== ''">
                <ion-card-title class="center">
                    <ion-text class="ion-text-capitalize">Evolves to: </ion-text>
                </ion-card-title>
                <ion-item [routerLink]="'/tabs/details/'+details.evoID.toString()" (click)="updatePokeId(details.evoID)">
                    <ion-avatar slot="start">
                        <img [src]="details.evoImg" style="background: #f2f2f2;">
                    </ion-avatar>
                    <ion-label class="ion-text-capitalize">
                        <h2>{{ details.evoName | uppercase }}</h2>
                        <p>#{{ details.evoID }}</p>
                    </ion-label>
                </ion-item>
            </div>
        </ion-card>
    </div>

</ion-content>