.grid-stats {
    padding-inline: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.grid-moveset {
    padding-inline: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.stats {
    margin-top: 2%;
    margin-left: 2%;
}

.poke-title {
    color: black;
    padding-left: unset;
    margin-bottom: 2%;
    font-size: xx-large;
}

.home-btn {
    display: block;
}

.special-grid-row {
    background-color: #2A5C99;
    color: #ffffff;
    padding: 2%;
}

.grid-rows {
    font-size: medium;
    font-weight: bold;
    --padding-start: 0%;
    --inner-padding-end: 0%;
}

.grid-rows-stats {
    font-size: large;
    font-weight: bold;
    --padding-start: 0%;
    --inner-padding-end: 0%;
}

.card-header {
    margin-left: 2%;
}

.evo {
    padding-inline: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: large;
    font-weight: bold;
}

.movesets {
    padding: 2%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.little-margin {
    margin-right: 2%;
}

.my-fabs {
    display: contents;
}

ion-fab-button {
    --background-activated: #87d361;
    --background-hover: #a3e681;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}
