<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title class="fs-title inline-flex" style="padding-right: 0;"> 
            myPokedex v{{appVersion}}
        </ion-title>
        <ion-img class="pokeball-img ml-0_5 float-left" src="../../assets/img/animation_pokeball.gif"></ion-img>
        <ion-icon [routerLink]="'/home'" name="home" class="mr-0_6 mt-0_2 fs-title float-right"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content class="fade-intro-detail center flex">
    <ion-card class="m2">
        <ion-card-content>
            <ion-img [alt]="details.name" [src]="details.homeSprite" class="max-pokeimg-size mb-0_5 inline-flex"></ion-img>
            <h1 class="ion-text-capitalize">{{details.name}}</h1>
            <h2>INDEX: {{details.pokeIndex}}</h2>
            <ion-text class="ion-text-capitalize fs-card">Type: </ion-text>
            <div class="inline-flex" *ngIf="details.types.length !== 0">
                <ion-img *ngFor="let type of details.types" [src]="type.img" class="m1 max-typeimg-size"></ion-img>
            </div>
            <div class="grid mb-1 ion-text-capitalize">
                <h1>Gen: {{details.gen.id}}</h1>
                <h1>Region: {{details.gen.region}}</h1>
            </div>
        </ion-card-content>
    </ion-card>

    <!-- EVO 1 EXIST ? -->
    <div class="m2 flex center" *ngIf="details.evo.evo1.length !== 0">
        <!-- FIRST STADIUM -->
        <div *ngIf="details.pokeIndex === details.evo.evo0.id">
            <ion-text class="fs-card">Evolves To: </ion-text>
            <div class="evo-borders" *ngFor="let evo of details.evo.evo1" [routerLink]="'/tabs/details/'+evo.id.toString()" 
            (click)="updatePokeId(evo.id)">
                <ion-img class="evo-img mr-0_5" [src]="evo.img"></ion-img>
                <ion-text class="fs-card">{{evo.name | uppercase}}</ion-text>
            </div>
        </div>
    </div>

    <!-- EVO 2 EXIST ? -->
    <div class="m2 flex center" *ngIf="details.evo.evo2.length !== 0">
        <!-- SECOND STADIUM -->
        <div *ngIf="details.pokeIndex === details.evo.evo1[0].id">
            <!-- PRE EVO -->
            <ion-text class="fs-card">From: </ion-text>
            <div class="flex center evo-borders" [routerLink]="'/tabs/details/'+details.evo.evo0.id.toString()" 
            (click)="updatePokeId(details.evo.evo0.id)">
                <ion-img class="evo-img mr-0_5" [src]="details.evo.evo0.img"></ion-img>
                <ion-text class="fs-card">{{details.evo.evo0.name | uppercase}}</ion-text>
            </div>
            <!-- EVO -->
            <ion-text class="fs-card">Evolves To: </ion-text>
            <div class="flex center evo-borders" *ngFor="let evo of details.evo.evo2" [routerLink]="'/tabs/details/'+evo.id.toString()" 
            (click)="updatePokeId(evo.id)">
                <ion-img class="evo-img mr-0_5" [src]="evo.img"></ion-img>
                <ion-text class="fs-card">{{evo.name | uppercase}}</ion-text>
            </div>
        </div>

        <!-- THIRD STADIUM -->
        <div *ngIf="details.pokeIndex === details.evo.evo2[0].id">
            <!-- PRE EVO -->
            <ion-text class="fs-card">From: </ion-text>
            <div class="flex center evo-borders" [routerLink]="'/tabs/details/'+details.evo.evo1[0].id.toString()" 
            (click)="updatePokeId(details.evo.evo1[0].id)">
                <ion-img class="evo-img mr-0_5" [src]="details.evo.evo1[0].img"></ion-img>
                <ion-text class="fs-card">{{details.evo.evo1[0].name | uppercase}}</ion-text>
            </div>
        </div>
    </div>

</ion-content>